<div class="contactHeader">
    Contact us
</div>
<br>
<div class="contactForm">
    <form >
      <label for="uname">Name</label><br>
      <input type="text" name="username"><br><br>
      <label for="password">Email</label><br>
      <input type="password" name="password"><br><br>
      <label for="comment">Comments</label><br>
      <textarea rows="5" cols="50" id="multiLineInput"></textarea><br>
      <input type="submit" value="Submit">
    </form>
    </div>
    <div class="rightSide">
    <img src="https://www.vhv.rs/dpng/d/489-4896249_lime-slice-png-png-download-lime-slice-transparent.png">
</div>

