.banner {
    height: 500px;
    background: url(https://c8.alamy.com/comp/TB2Y8M/border-leaves-of-fern-and-tropical-friuts-orange-lemon-lime-on-punchy-yellow-top-view-and-space-for-text-summer-travel-concept-TB2Y8M.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    padding-top: 8%;
    margin-top: -0.5%;
    font-size: 400%;
    font-family: 'UnPenheulim', sans-serif;
    text-shadow: -5px 0px 10px rgb(255, 250, 244);
}

body {
    background-color: rgb(255, 250, 244);
    margin-top: -12%;
    margin-left: 13%;
    margin-right: 13%;
}

.aboutSection {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 4%;
    font-size: large;
    padding-bottom: 3%;
    font-family: 'UnJamoBatang', sans-serif;
}

.border-top {
    position: relative;
    bottom: -30px;
    width: 60%;
    left: 20%;
    right: 10%;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.border-bottom {
    position: relative;
    top: -30px;
    width: 60%;
    left: 20%;
    right: 10%;
    border: 3px;
    border-color: black;
    border-style: solid;
}
