<style>
    @import url('http://fonts.cdnfonts.com/css/unjamobatang');
</style>

<div class="banner">
    <h1 class="aboutHeader">About Us</h1>
</div>
<body>
    <div class="border-top"></div>
    <div class="aboutSection">
        <p>Sublime Kitchen was created in 2021.</p>
        <p>Our blog is dedicated to bringing people who love food together in one place. </p>
        <p>However, not just anyone can create a Sublime Kitchen user account.</p>
        <p>There is a strict vetting process, including a background check, an</p>
        <p>assessment, and one or more physical challenges.</p><br>
        <p>Many have been killed, maimed, or seriously injured in this process,</p>
        <p>which has been fondly named "The Hunger Games."</p>
        <p>Those that make it through, however, can expect a friendly, cooking oriented</p>
        <p>community filled with people who love food and cooking, working together,</p>
        <p>and sharing their kitchen secrets.</p><br>
        <button class="go-to-home" [routerLink]="['/userhome']">
            Home
        </button>
    </div>
    <div class="border-bottom"></div>
</body>
<app-footer></app-footer>