<app-header></app-header>
<form action="">
    <div id="title">
        <label for="title"></label>
        <input type="text" id="title" name="title" placeholder="Title"><br>
    </div>
    <div id="post">
        <label for="post"></label>
        <input type="text" name="post" id="post" placeholder="Body">
    </div>
    <span id="imgAndSubmit">
        <label for="image"></label>
        <input type="text" name="image" id="image" placeholder="Image">
        <button>Add</button>
        <button>Submit</button>
    </span>
</form>