<app-header></app-header>
    <div *ngIf="this.currentUser" id="bloglist">
        <body>
            <div class="bloglist" id="userblogs" *ngFor="let blog of this.currentUser.blogPostList">
                <img src="{{blog.imageUrl}}" alt="">
                <div class="details">
                    <a routerLink = "/blog/{{blog.id}}"><span>{{blog.title}}</span></a>
                    <div class="buttons">
                        <button (click)="onEdit(blog)">...</button>
                        <button (click)="onDelete(blog)">X</button>
                    </div>
                </div>
            </div>
        </body>
    </div>
    <app-user-sidebar [userImage] = "userImage"></app-user-sidebar>  
<app-footer></app-footer>
