<app-header></app-header>
<body>
    <div *ngIf="this.currentUser" id="bloglist">
        <ul>
            <li id="userblogs" *ngFor="let blog of this.currentUser.blogPostList">
                <a routerLink = "/blog/{{blog.id}}"><p>{{blog.title}}</p></a>
                <button (click)="onDelete(blog)">X</button>
                <button (click)="onEdit(blog)">...</button>
                <img src="{{blog.imageUrl}}" alt="">
            </li>
        </ul>
    </div>
    <app-user-sidebar [userImage] = "userImage"></app-user-sidebar>  
</body>
<app-footer></app-footer>
