
body {
    margin-top: 130px;
    margin-bottom: 56px;
    margin-left: -6px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 242, 238);
    height: 100%;
    width: 81%;
    left: 0;

    position: relative;
    font-family: 'UnJamoBatang', sans-serif;
}

.bloglist {
    display: flex;
    flex-direction: column;
}

img {
    width: 20vh;
    height: 20vh;
    overflow: hidden;
    object-fit: cover;
}

.details {
    display: flex;
}

.title {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

button {
    background-color: rgb(245, 242, 238);
    border: none;
}