
body {
    margin-top: 130px;
    padding-bottom: 60px;
    margin-bottom: 56px;
    margin-left: -6px;
    background-color: rgb(245, 242, 238);
    height: 100%;
    width: 76%;
    left: 0;
    font-family: 'UnJamoBatang', sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.bloglist {
    margin-left: 11%;
    margin-top: 5%;
}

img {
    width: 260px;
    height: 260px;
    object-fit: cover;
}

a {
    color: rgb(48, 25, 4);
    text-decoration: none;
    font-size: 20px;
    padding-left: 3px;
}

.details {
    display: flex;
    background-color: white;
    margin-top: -4px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* justify-content: center; */
}

.buttons {
    margin-left: auto;
}

button {
    color: rgb(48, 25, 4);
    background-color: white;
    border: none;
    font-size: 12px;
}
