<app-header></app-header>
<div id="bloglist">

</div>
<div id="userinfo">
    <span><img src="#" alt="userphoto"></span> <span> {{ app.user.name }}</span> <!--this will change to user name that is entered at login-->
    <br><br>
    <nav id="info">
        <ul id="userlist">
            <li>Name</li>
            <br>
            <li>Birthday</li>
            <br>
            <li>Quote</li>
            <br>
            <li>About User</li>
        </ul>
    </nav>
</div>
<app-footer></app-footer>
