header {
    text-align: center;
    font-family: 'UnJamoBatang', sans-serif;
}

a {
    color: rgb(245, 242, 238);
    text-decoration: none;
}

.blogName {
    margin-left: 2%;
    text-align: center;
    font-size: 150%;
}

.links {
    text-align: center;
    margin-left: 4%;
    margin-right: 5%;
    font-size: large;
}

#navigation ul{
    list-style: none;
}

#navigation li{
    display: inline;
}