html {
    display: flex;
}

img {
    margin-top: -0.5%;
    height: 100vh;
}

body {
    flex-direction: column;
    margin-top: 2%;
    margin-left: 7%;
    width: 40%;
    height: 90vh;
    background-color: rgb(252, 249, 245);
    font-family: 'UnJamoBatang', sans-serif;
}

.newUserBody {
    margin-top: 20%;
    text-align: center;
}

.newUserForm {
    margin-top: 6%;
}

h3 {
    margin-top: 20vh;
    font-size: 200%;
}

.newUserForm {
    margin-top: 5%;
    text-align: center;
}

label {
    display: block;
    position: absolute;
    text-align: left;
    padding-left: 30vh;
}

input {
    margin-top: 1%;
    width: 22vh;
    height: 20px;
}

.login-button {
    margin-top: 1%;
    height: 3vh;
    width: fit-content;
    background-color: #7ea381;
    color: rgb(255, 255, 249);
}