body {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(https://c.stocksy.com/a/QDR400/z9/1057932.jpg);
    background-size: cover;
}

.login {
    height: 22px;
    width: 12%;
}

.login-button {
    margin-top: 0.25%;
    height: 22px;
    width: 5%;
}

.loginForm {
    color: rgb(250, 253, 237);
    text-align: center;
    margin-top: 4%

}

h1 {
    text-align: center;
    margin-top: 9%;
    color: rgb(250, 253, 237);
    font-size: 600%;
    font-family: 'UnJamoBatang', sans-serif;
    text-shadow: 0px -5px 20px black;
}

label {
    position: relative;
    right: 4%;
    font-size: 100%;
    color: rgb(250, 253, 237);
    text-shadow: 0px 0px 10px black;
    font-family: 'UnJamoBatang', sans-serif;
}

p {
    margin-top: 2%;
    text-shadow: 0px 0px 20px black;
}

a {
    color: rgb(143, 204, 103);
}