<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">FoodBog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">All Recipes</a></li>
        <li><a href="#">Air Fryer</a></li>
        <li><a href="#">Casseroles</a></li>
        <li><a href="#">Healthy Recipes</a></li>
        <li><a href="#">Desserts</a></li>
        <li><a href="#">Instant Pot</a></li>
      </ul>
    </div>
  </nav>
  <hr/>

