<style>
    @import url('http://fonts.cdnfonts.com/css/unjamobatang');
</style>
<app-header></app-header>
<body class="thankyou">    
    <div class="textArea">
        <p class="intro"><strong>Thank you for your feedback!</strong></p>
        <p>Sublime Kitchen is committed to responding to each user in a timely manner.</p>
        <p>If you do not hear back from us soon, like, say....I dunno.....3 weeks? Give or take?</p>
        <p>Whatever, just don't like, try to submit more feedback.</p><br>
        <p>Do you know how annoying that is? Like, we have lives. We don't just sit here all day</p>
        <p>and read your dumb feedback. I swear to God, everyone thinks their complaint or compliment</p>
        <p>is the most important, and if we don't get back to them soon enough, they're all -</p>
        <p>"Oh, you didn't respond back, don't you care about your users?"</p><br>
        <p>No, I don't care about no user! You don't pay me! Get off my back, this site is free!</p>
        <p>You know damn well you don't watch the ads, so we don't even get paid half the time.</p>
        <p>But that doesn't stop you from submitting your dumb recipe for boiled clams,</p>
        <p>or whatever the hell it is you people are out there making.</p>
    </div>
    <button class="go-to-home" [routerLink]="['/userhome']">
        Home
    </button>
</body>
<app-footer></app-footer>